<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dockerfile SecureScan</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Dockerfile SecureScan</h1>
    <p>Paste your Dockerfile below to generate a more secure version.</p>
    <form action="/secure" method="POST">
        <textarea name="dockerfileContent" rows="20" cols="80" placeholder="FROM node:14..."></textarea>
        <br>
        <button type="submit">Secure My Dockerfile</button>
    </form>
</body>
</html>